/***************/
/*****Reset*****/
/***************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**************************/
/*****Custom Propeties*****/
/**************************/

/*****Colors*****/

:root {
    --black: black;
    --white: white;
    --navy-blue: #000080;
    --super-darl-blue: #000040; 
    --color1: #1c2127;
    --color2: #0b385f;
    --color3: #3373b0;
    --color4: #bed4e9;
    --color5: #e7f1fb;
}


/*****Fonts*****/

:root {
    --primary: 'Open Sans', sans-serif;
    --signature: 'Great Vibes', sans-serif;
}

/*************************/
/*****Utility Classes*****/
/*************************/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/****************/
/*****Styles*****/
/****************/

html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color4);
    color: var(--color4);
    margin: 0;
    padding: 0;
    font-family: var(--primary);
}

header {
    background-image: url("assets/background1.jpg");
    background-size: cover;
    height: 811px;
    margin: 0;
    padding: 0;
}

/*****Navigation*****/

nav {
    height: 40px;
    width: 30%;
    min-width: 14rem;
    max-width: 24rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
} 

nav ul {
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    align-content: center;
    position: fixed;
    inset: 0 0 0 33vw;
    flex-direction: column;
    background-color: hsl(0 0% 100% / 0.2);
    backdrop-filter: blur(1rem);
    padding: 5rem 3.75rem;
    z-index: 1;
    margin: 0;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
}

nav ul[data-visable="true"] {
    transform: translateX(0%);
}

nav ul li {
    padding: .5rem 0;
}

li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    scroll-behavior: smooth;
    color: var(--color4);
}

li a:hover {
    text-shadow: 0 0 .4rem var(--color4);
}

.nav-button {
    position: absolute;
    display: block;
    background: url(assets/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.2rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
    border: none;
}



/*****Hero*****/

.hero {
    padding: 1.25rem;
    text-align: center;
    position: absolute;
    top: 12rem;
    z-index: 0;
    width: 100%;
}

.hero h1,
.hero h2,
.hero h3 {
    padding: .5rem 0;
}

.hero h1 {
    font-size: 3rem;
    font-family: var(--signature);
}

.hero h2 {
    font-size: 2rem;
}

.hero h3 {
    font-size: 1rem;
}

.hero p {
    padding: .25rem 0;
    margin-top: 3rem;
}

/*****About*****/

.about {
    background-color: var(--color2);
    height: auto;
    grid-template-columns: 1fr;
    text-align: center;
}

.about h1 {
    padding: 1rem;
}

.profile-pic-box {
    padding: 15%;
}

.picture {
    align-items: center;
    justify-content: center;
}

.bio {
    padding: 1rem;
}

.bio p {
    margin: 1rem;
}

/*****Projects*****/

.projects {
}

.projects-heading {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2rem;
    color: var(--color2);
}

.project-cards {
    background-color: var(--color4);
    gap: 1.25rem;
    margin: 0 2rem;
    padding: 0 2rem 2rem 2rem;
    grid-template-columns: 1fr;
    border-radius: 1rem;
}

.card {
    background-color: var(--color3);
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    border-radius: 1rem;
}

.project-description-bar {
    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    background-color: var(--color2);
    border-radius: 0 0 1rem 1rem;
}

.top ,
.bottom {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    font-size: .6rem;
    justify-content: center;
}

.content-box-left {
    margin: 0;
    padding: 0 0 0 .75rem;
    width: 75%;
    height: 100%;
    align-items: center;
}

.content-box-right {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.top h4 {
    font-size: .75rem;
    font-weight: bold;
}

.html-icon {
    color: red;
    height: 50%;
    aspect-ratio: 1;
    margin: 0 .20rem;
}

.css-icon {
    color: blue;
    height: 50%;
    aspect-ratio: 1;
    margin: 0 .20rem;
}

.js-icon {
    color: yellow;
    height: 50%;
    aspect-ratio: 1;
    margin: 0 .20rem;
}

.java-icon {
    color: black;
    height: 50%;
    aspect-ratio: 1;
    margin: 0 .20rem;
}
.launch,
.git-hub {
    margin: 0;
    padding: 0;
    border: 1px solid var(--color4);
    border-radius: 1rem;
    width: 60%;
    min-width: 2.75rem;
    height: 75%;
    background: transparent;
    font-weight: bold;
    color: var(--color4);
}

.launch:hover,
.git-hub:hover {
    text-shadow: 0 0 .4rem var(--color4);
    box-shadow: 0 0 .25rem var(--color4), inset 0 0 .25rem var(--color4);

}

button svg {
    color: var(--color4);
    height: 85%;
    aspect-ratio: 1;
    vertical-align: middle;
}

#calculator {
    background-image: url(assets/calculator.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*****Skills*****/

.skills {
    background-color: var(--color3);
}

.skills-icons {
    grid-template-columns: 1fr 1fr 1fr;
    gap:3rem;
    margin: 0 5rem 5rem;
}

.skills h1 {
    text-align: center;
    padding: 2rem 0;
}

.skill-img {
    aspect-ratio: 1;
}

.html {
    background-image: url(assets/icons8-html-5-96.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.css {
    background-image: url(assets/icons8-css3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.js {
    background-image: url(assets/icons8-javascript.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.java {
    background-image: url(assets/icons8-java.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sb {
    background-image: url(assets/icons8-spring-boot.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.github {
    background-image: url(assets/github.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*****Contact*****/

.contact {
    background-color: var(--color2);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact h1 {
    width: 100%;
    margin: 0;
    padding: 2.25rem;
    justify-content: center;
    align-items: center;
}

form {
    width: 75%;
    margin: 0 5rem 5rem;
    padding: 0;
}

.form-group {
    position: relative;
    margin: 1.5rem 0;
}

input,
textarea {
    width: 100%;
    background: transparent;
    border: 1px solid var(--color4);
    border-radius: .25rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;

}

label {
    position: absolute;
    top: 0;
    left: 0.25rem;
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    top: -1.5rem;
}

.submit-button {
    width: 100%;
    background: transparent;
    border: 1px solid var(--color4);
    border-radius: .25rem;
    color: var(--color4);
}

/*****Footer*****/

footer {
    height: 7rem;
    background-color: var(--color1);
}


@media (min-width: 33rem) {

    .nav-button {
        display: none;
    }

    nav {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2.5rem;
        background-color: var(--color1);
        opacity: .95;
        max-width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    nav ul {
        font-size: 16px;
        font-weight: bold;
        list-style: none;
        align-content: initial;
        justify-content: space-evenly;
        position: initial;
        inset: initial;
        flex-direction: initial;
        background-color: initial;
        backdrop-filter: initial;
        padding: initial;
        z-index: initial;
        margin: initial;
        transform: initial;
        transition: initial;
        width: 40%;
        max-width: 20rem;
    }
    
    nav ul li {
        padding: .5rem 0;
    }
    
    .project-cards {
        grid-template-columns: 1fr 1fr;
    }

    .link-icons {
        position: absolute;
        right: 2rem;
        height: 55%;

    }
     
    .link-icon {
        color: var(--color4);
        height: 100%;
        aspect-ratio: 1;
        margin: 0 .2rem;
    }

    /*****About*****/

    .about {    
        background-color: var(--color2);
        height: auto;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .about h1 { 
        padding: 1rem;
        grid-column: 1 / 3;
    }

    .profile-pic-box {  
        padding: 15%;
        grid-column: 1 / 2;
        align-items: center;
        justify-content: center;
    }

    .picture {
        
    }

    .bio {
        padding: 1rem;
        grid-column: 2 / 3;
    }

    .bio p {
        margin: 1rem;
    }
}

@media (min-width: 51rem) {

    .hero {
        padding: 0;
        text-align: center;
        position: absolute;
        top: 5rem;
        left: 5rem;
        z-index: 0;
        width: 40vw;
    }

    .project-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

}



